.App {
  width: 100%;
  /* height: auto; */

  min-height: 50vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  padding: 0;
  margin: 0;
  background-color: antiquewhite;
}
h2 {
  color: brown;
  font-size: 3rem;
  margin: 0 0 2em;
}
.container {
  background-color: rgba(194, 183, 183, 0.367);
  max-width: 1100px;
  margin: 20px auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border-radius: 7px;
}
.box {
  background-color: rgb(255, 255, 255);
  width: 30%;
  margin: 10px;
  padding: 20px;
  border-radius: 7px;
  box-shadow: 6px 2px 6px rgba(0, 0, 0, 0.2);
}
h5 {
  text-align: center;
}
p {
  font-size: 0.9rem;
}
img {
  width: 50%;
  min-height: auto;
  object-fit: content;
  display: flex;
  justify-content: center;
  align-items: center;
}
