@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=Edu+NSW+ACT+Foundation:wght@700&family=Island+Moments&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,300;1,400;1,500;1,600;1,700&family=Noto+Sans+TC:wght@100;300;400;500;700;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,800;0,900;1,100;1,200;1,300;1,400;1,700;1,800;1,900&family=Raleway:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,500;1,600;1,700;1,800;1,900&display=swap");
.App {
  width: 100%;
  /* height: auto; */

  min-height: 50vh;
  font-family: "Raleway", sans-serif;
}

body {
  padding: 0;
  margin: 0;
  background-color: antiquewhite;
}
h2 {
  font-family: "Montserrat", sans-serif;
  /* margin: 0 0 2em; */
}
.component_title {
  font-size: 1.5vw;
  /* display: flex;
  align-items: last baseline; */
}
.description {
  font-size: 1.5vw;
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: relative;
  margin-left: 40%; */
  font-size: 7vw;
}
.container {
  max-width: 1500px;
  margin: 20px auto;
  display: flex;
  /* justify-content: center; */
  flex-wrap: wrap;
  border-radius: 7px;
}
.box {
  background-color: white;

  max-width: 300px;

  margin: 10px;
  padding: 20px;
  border-radius: 7px;
  box-shadow: 6px 2px 6px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.box:hover {
  cursor: pointer;
}
p {
  font-size: 0.9rem;
}
img {
  width: 100%;
  height: 256px;
  object-fit: contain;
}
.addBttn {
  background-color: transparent;
  border: 2px solid rgb(19, 19, 19);
  min-width: 100px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 15px;
}
.addBttn:hover {
  background-color: rgb(19, 19, 19);
  color: white;
  cursor: pointer;
}
